Django==4.1.7
psycopg2-binary==2.9.5
python-dotenv==1.0.0
Pillow==9.5.0
Celery==5.2.7
django-filter==23.2

#dev
django-extensions==3.2.1
ipython==8.11.0
django-debug-toolbar==4.0.0



#flake8
flake8==6.0.0
flake8-debugger==4.1.2
flake8-print==5.0.0
flake8-builtins==2.1.0